{{!-- add bulk html outline for the content of the burger page --}}
<h1 style="text-align:center; padding: 4vmin">Burger Love
</h1>

<div class="row">
    {{!-- section to add a new burger --}}
    <div class="rounded col-md center"
        style="background-color: #ffda77; text-align:center; padding: 5vmin; margin:5vmin 10vmin 3vmin">
        <h2>Add a new burger:</h2>
        <form class="form-class">
            <div>
                <label for="new">Burger name:</label>
                <input type="text" id="new" name="burger_name">
            </div>
            <button style="background-color: #ffe7a8;" type="submit" class="btn shadow">Add Burger</button>
        </form>
    </div>
</div>

<div class="row" style="margin: 1vmin 5vmin">
    {{!-- burger information for newly added burgers --}}
    <div class="col-md">
        <div class="container rounded" style="background-color: #aee6e6; text-align:center; padding: 5vmin;">
            <h2>I must eat these:</h2>
            <div>
                {{#each burgers}}
                {{#unless devoured}}
                <div>
                    <span>{{this.burger_name}}</span>
                    <button style="background-color: #cbefef;" class="eatMe btn shadow" type="button" id="eat" data-id="{{this.id}}" data-newEat="{{eat}}">Eat
                        it!</button>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
    </div>

    {{!-- burger information for the consumed burgers --}}
    <div class="col-md">
        <div class="container rounded" style="background-color: #ffa45b; text-align:center; padding: 5vmin">
            <h2>I already ate these:</h2>
            <div>
                {{#each burgers}}
                {{#if devoured}}
                <div>
                    <span>{{this.burger_name}}</span>
                    <button style="background-color: #ffc596;" class="delete btn shadow" type="button" data-id="{{this.id}}">Delete it!</button>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>

</div>