{{!-- add bulk html outline for the content of the burger page --}}
<h1>Burger Love</h1>

{{!-- burger information for newly added burgers --}}
<h2>I must eat these</h2>
<ul>
    {{#each burgers}}
        {{#unless devoured}}
        <li>
        <span>{{this.burger_name}}</span>
        <button class="eatMe" type="button" id="eat" data-id="{{this.id}}"
            data-newEat="{{eat}}">Eat it!</button>
        </li>
        {{/unless}}
    {{/each}}
</ul>


{{!-- burger information for the consumed burgers --}}
<h2>I already ate these</h2>
<ul>
    {{#each burgers}}
        {{#if devoured}}
        <li>
        <span>{{this.burger_name}}</span>
        <button type="button" id="delete" data-id="{{this.id}}">delete</button>
        </li>
        {{/if}}
    {{/each}}
</ul>

{{!-- section to add a new burger --}}
<h2>Add a new burger:</h2>
<form class="form-class">
    <div>
        <label for="new">Burger name:</label>
        <input type="text" id="new" name="burger_name">
    </div>
    <button type="submit">Add Burger</button>
</form>